<% content_for :title, "Edit Photo" %>

<div class="page-header">
  <div>
    <h1 class="page-header__title">Edit Photo</h1>
    <p class="page-header__subtitle"><%= @photo.title.presence || "Photo" %></p>
  </div>

  <div class="page-actions">
    <%= link_to "View", photo_path(@photo), class: "btn" %>
    <%= link_to "Back", photos_path, class: "btn" %>
  </div>
</div>

<div class="card">
  <%= render "form", photo: @photo, students: @students, submit_label: "Save Changes" %>
</div>
