<% content_for :title, "Upload Photo" %>

<div class="page-header">
  <div>
    <h1 class="page-header__title">Upload Photo</h1>
    <p class="page-header__subtitle">Add a photo to a student’s gallery.</p>
  </div>

  <div class="page-actions">
    <%= link_to "Back", photos_path, class: "btn" %>
  </div>
</div>

<div class="card">
  <%= render "form", photo: @photo, students: @students, submit_label: "Upload Photo" %>
</div>
